
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #9cf6e4, #9cf6e4, #6ef2c1);
  margin: 0;
  color: #333;
  min-height: 100vh;
}


.container {
  max-width: 900px;
  margin: 40px auto;
  background: #e7fff4cc;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
}


h1 {
  text-align: center;
  color: #237636;
  font-size: 28px;
  margin-bottom: 30px;
}

h2 {
  color: #206134;
  margin-bottom: 15px;
  font-size: 20px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
  color: #15ad57;
}

input,
textarea {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: inherit;
  resize: none;
  transition: 0.2s;
}

input:focus,
textarea:focus {
  border-color: #18d875;
  box-shadow: 0 0 5px #18d875;
  outline: none;
}


button {
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  background-color: #0d711c;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #137825;
  transform: translateY(-2px);
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 30px 0;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

thead {
  background-color: #23c836;
  color: white;
}

th, td {
  padding: 12px 10px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

tbody tr:hover {
  background-color: #f2f0ff;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.actions button {
  background-color: #ff6b6b;
  padding: 6px 10px;
  font-size: 13px;
}

.actions button:hover {
  background-color: #03ff85;
}


.empty {
  text-align: center;
  color: #777;
  margin-top: 20px;
  font-style: italic;
}


@media (max-width: 768px) {
  .container {
    margin: 20px;
    padding: 20px;
  }

  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
  }

  td::before {
    content: attr(data-label);
    font-weight: 600;
    color: #03ff85;
  }
}
